<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="navbar-content">
            <!-- Nombre centrado -->
            <div class="person-name-container">
                <h1 class="person-name">JAIME HERNANDEZ</h1>
            </div>
        </div>

        <!-- Botón hamburguesa para móviles -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Contenido colapsable del menú -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav-container">
                <ul class="navbar-nav mx-auto" *ngIf="(location == '/')">
                    <li class="nav-item" *ngFor="let navItem of appLandingNavItem;">
                        <a href="/{{navItem.id}}" class="nav-link">{{navItem.title | uppercase}}</a>
                    </li>
                </ul>

                <ul class="navbar-nav mx-auto" *ngIf="(location == '/book-landing')">
                    <li class="nav-item" *ngFor="let navItem of bookLandingNavItem;">
                        <a href="/{{navItem.id}}" class="nav-link">{{navItem.title | uppercase}}</a>
                    </li>
                </ul>

                <ul class="navbar-nav mx-auto" *ngIf="(location == '/saas-landing')">
                    <li class="nav-item" *ngFor="let navItem of saasLandingNavItem;">
                        <a href="/{{navItem.id}}" class="nav-link">{{navItem.title | uppercase}}</a>
                    </li>
                </ul>

                <ul class="navbar-nav mx-auto" *ngIf="(location == '/products-landing')">
                    <li class="nav-item" *ngFor="let navItem of productsLandingNavItem;">
                        <a href="/{{navItem.id}}" class="nav-link">{{navItem.title | uppercase}}</a>
                    </li>
                </ul>

                <ul class="navbar-nav mx-auto" *ngIf="(location == '/recuerdos' || location == '/historia' || location == '/galeria')">
                    <li class="nav-item" *ngFor="let navItem of appLandingNavItem;">
                        <a href="/{{navItem.id}}" class="nav-link">{{navItem.title | uppercase}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>