.screenshot-area {
    position: relative;
    z-index: 1;
    background: #f7f7f7;
    
    .section-title {
        h2 {
            color: var(--blackColor);
        }
        p {
            color: var(--blackColor);
        }
    }
}