.single-gallery-item {
    overflow: hidden;
    margin-bottom: 30px;

    a {
        img {
            transition: var(--transition);
        }
    }
    &:hover {
        a {
            img {
                transform: rotate(8deg) scale(1.3);
            }
        }
    }
}